h1, #menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 50%;
}

#menu {
    display: flex;
    flex-direction: column;
}

.start {
    background-color: lightblue;
}

.end {
    background-color: lightcoral;
}

.enter {
    background-color: lightsteelblue;
    width: 15%;
}

.dark {
    background-color: black;
    width: 100%;
    height: 20rem;
}